@font-face {
  font-family: "Montserrat";
  src: url("Montserrat/Montserrat-Medium.ttf") format("truetype");
}

body {
  font-family: Montserrat !important;
}

@media (min-width: 800px) and (max-width: 850px) {
  .navbar:not(.top-nav-collapse) {
    background: #1c2331 !important;
  }
}
.mb-0{
    margin-bottom: 0px !important;
}
.mb-10{
    margin-bottom: 10px !important;
}
.mb-20{
    margin-bottom: 20px !important;
}
.mb-30{
    margin-bottom: 30px !important;
}
.mb-40{
    margin-bottom: 40px !important;
}

.mt-10 {
  margin-top: 10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-30 {
  margin-top: 30px !important;
}
.mt-40 {
  margin-top: 40px !important;
}
.mt-100{
  margin-top: 100px !important;
}
.pt-0{
  padding-top: 0px !important;
}
.pt-10 {
  padding-top: 10px !important;
}
.pt-20 {
  padding-top: 20px !important;
}
.pt-30 {
  padding-top: 30px !important;
}
.pt-40 {
  padding-top: 40px !important;
}

.pb-10 {
    padding-bottom: 10px !important;
  }
  .pb-20 {
    padding-bottom: 20px !important;
  }
  .pb-30 {
    padding-bottom: 30px !important;
  }
  .pb-40 {
    padding-bottom: 40px !important;
  }
  

.txtA-c{
    text-align: center !important;
}

.color-primary{
  color: #00ff8e !important;
}

.banner-image .carousel,
.banner-image .carousel .carousel-inner,
.banner-image .carousel .carousel-inner .active,
.banner-image .carousel .carousel-inner .carousel-item,
.view,
body,
html {
  /* height: 95%; */
}
.navbar {
  background-color: rgba(0, 0, 0, 0.2);
}
.page-footer,
.top-nav-collapse {
  background-color: #1c2331;
}

/* .carousel-indicators li{
    background-color: #00ff8e !important;
}

.carousel-indicators .active{
    background-color: #0692f6 !important;
} */

.banner-image {
  margin-top: 80px !important;
}
@media only screen and (max-width: 768px) {
  .navbar {
    background-color: #1c2331;
  }
}

.btn-primary-feetapart {
  color: #000000 !important;
  font-weight: 500 !important;
  background-color: #00ff8e !important;
  border-radius: 50px !important;
}

.btn-primary-rounded-feetapart {
    color: #000000 !important;
    font-weight: 500 !important;
    background-color: #00ff8e !important;
    border-radius: 8px !important;
  }

.navbar-FA {
  background-color: #ffffff !important;
}

.banner-content {
  margin-top: 150px !important;
}

.banner-title-strong {
    font-weight: 700 !important;
}

.banner-title-light {
  font-weight: lighter !important;
}

.scroll-down-text{
    font-size: x-small !important;
}

.vertical-line{
    border-left: 1px solid #9E9E9E;
    height: 100px !important;
    /* position: absolute; */
    left: 50%;
    top: 0;
}

@media (max-width: 768px) {
    #recipeCarousel .carousel-inner .carousel-item > div {
        display: none;
    }
    #recipeCarousel .carousel-inner .carousel-item > div:first-child {
        display: block;
    }
}

#recipeCarousel .carousel-inner .carousel-item.active,
#recipeCarousel .carousel-inner .carousel-item-next,
#recipeCarousel .carousel-inner .carousel-item-prev {
    display: flex;
}

/* display 3 */
@media (min-width: 768px) {
    
    #recipeCarousel .carousel-inner .carousel-item-right.active,
    #recipeCarousel .carousel-inner .carousel-item-next {
      transform: translateX(33.333%);
    }
    
    #recipeCarousel .carousel-inner .carousel-item-left.active, 
    #recipeCarousel .carousel-inner .carousel-item-prev {
      transform: translateX(-33.333%);
    }
}

#recipeCarousel .carousel-inner .carousel-item-right,
#recipeCarousel .carousel-inner .carousel-item-left{ 
  transform: translateX(0);
}

.reginster-section{
    
    background-color: #0194F6 !important;
}
.reginster-section-head{
    color: #ffffff !important;
}

.hash-tag-title{
    color: #0194F6 !important;
}

.reginster-date-month-span{
    border: 1px solid #ddd !important;
    padding: 8px !important;
    border-radius: 8px !important;
}

#recipeCarousel .card-title{
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    font-size: 1rem !important;
}

#recipeCarousel .card-subtitle{
    white-space: nowrap !important;
    text-overflow: ellipsis !important;
    overflow: hidden !important;
    font-size: 0.75rem !important;
    margin-bottom: 10px !important;
}

#recipeCarousel .card-body{
    padding-top: 0px !important;
}

#recipeCarousel .participants-images{
    max-width: 25px !important;
    max-height: 25px !important;
    margin-left: -15px !important;
}

#recipeCarousel .participants-text{
    font-size: 0.75rem !important;
    color: #9E9E9E;
}

.how-it-works-section{
    background: #E5E5E5 !important;
}

.how-it-works-item{
    background-color: #ffffff !important;
    padding: 30px !important;
    border-radius: 8px !important;
    
}

.how-it-works-logo{
    width: 45px !important;
    height: auto !important;
}

.how-it-works-item-title{
    font-weight: bolder !important;
}

.how-it-works-item-text{
    font-size: 0.75rem !important
}

.how-it-works-item li{
    font-size: 0.75rem !important;
}

.our-vision-section{
    background: #EDEDED !important;
}

.email-info-section{
  background-color: #0194F6 !important;
}

.email-info-text{
  margin-top: 20% !important;
  color: #ffffff !important;
}

.customers-info-section{
  background: #EDEDED !important;
}

.previous-events-section{
  background-color: #ffffff;
}

.previous-event-card{
  margin-bottom: 10px !important;
}

.previous-event-card .card-title{
  font-size: 1rem !important;
}

.previous-event-card .card-subtitle{
  font-size: 0.75rem !important;
}

.running-community-section{
  background-color: #00ff8e !important;
}

.running-community-image{
  height: 300px !important;
  width: auto !important;
  position: relative;
  bottom: 30px;

}

.running-community-image-registration-page{
  height: 350px !important;
  width: auto !important;
  margin: 20px auto !important;
}

.footer-section a{
  color: gray !important;
  font-size: 0.75rem;
  font-weight: 100;
}

.event-details-info-container{
  background: #E5E5E5 !important;
}

.sponsor-images-section{
  background: #EDEDED !important;
}